:root {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ECE9FD;

    font-size: 1.6rem;
    font-family: 'Epilogue', sans-serif;

    padding: 6.0rem 2.3rem 6.6rem;
}

main {
    max-width: 33rem;
    margin: 0 auto;
}

main p:first-child {
    color: #7158EF;
    
    line-height: 3.2rem;
    letter-spacing: 3px;
    margin-bottom: 1.7rem;
}

h1 {
    font-size: 4.0rem;
    font-weight: 800;
    line-height: 4.8rem;

    color: #090039;

    margin-bottom: 1.5rem;
}

h1 + p {
    color: rgba(10, 0, 57, 0.64);
    line-height: 3.2rem;

    margin-bottom: 3.2rem;
}

a {
    color: #090039;
    text-decoration: none;

}

a:hover {
    font-weight: bold;
}

ul {
    margin-top: 7.2rem;
    list-style: none;
}

ul li {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;

    color: #090039;
    width: 25.7rem;

    display: flex;
    gap: 3.8rem;
}

ul li span {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8.0rem;
    letter-spacing: -2px;
}